text_classifier:
  svm: True
  xgboost: False
  fasttext: False
  pretrained_embedding_vectors: 'wiki.en.vec'
  svm_parameters: { 'kernel': 'rbf'
  }
  metric: 'f1_macro'
  hop_samples: 1
  out_folder: "output_models/text/"

audio_classifier:
  svm: True
  xgboost: False
  svm_parameters: { 'kernel': 'rbf'
  }
  metric: 'f1_macro'
  basic_features_params: {
    'mid_window': 3,
    'mid_step': 1,
    'short_window': 0.1,
    'short_step': 0.1
  }
  out_folder: "output_models/audio/"
